{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="wpb_column vc_column_container vc_col-sm-8">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <p><strong>About me</strong></p>
                                <p>&nbsp;</p>
                                <p>My interest in photography did not begin with books or mentors but evolved through a fascination of the natural world that shaped all parts of my life and brought them together. The desire, however, to communicate the way I felt about mountains and wild places began ironically, not on dry land but beneath the waves. With little photographic knowledge, I created a portfolio of images around Scotland’s coastline and in the Red Sea and was surprised to win ‘best newcomer to underwater photography’ in the <em>Camera Beneath the Waves</em> competition in 1981. Working at the time as an operations manager it was the catalyst that changed my life, and following a stint on a North Sea oil platform as a photo-technician, I was soon following a career as a professional photographer.
                                My interest in photography did not begin with books or mentors but evolved through a fascination of the natural world that shaped all parts of my life and brought them together. The desire, however, to communicate the way I felt about mountains and wild places began ironically, not on dry land but beneath the waves. With little photographic knowledge, I created a portfolio of images around Scotland’s coastline and in the Red Sea and was surprised to win ‘best newcomer to underwater photography’ in the
                                My interest in photography did not begin with books or mentors but evolved through a fascination of the natural world that shaped all parts of my life and brought them together. The desire, however, to communicate the way I felt about mountains and wild places began ironically, not on dry land but beneath the waves. With little photographic knowledge, I created a portfolio of images around Scotland’s coastline and in the Red Sea and was surprised to win ‘best newcomer to underwater photography’ in the
                                My interest in photography did not begin with books or mentors but evolved through a fascination of the natural world that shaped all parts of my life and brought them together. The desire, however, to communicate the way I felt about mountains and wild places began ironically, not on dry land but beneath the waves. With little photographic knowledge, I created a portfolio of images around Scotland’s coastline and in the Red Sea and was surprised to win ‘best newcomer to underwater photography’ in the
                                My interest in photography did not begin with books or mentors but evolved through a fascination of the natural world that shaped all parts of my life and brought them together. The desire, however, to communicate the way I felt about mountains and wild places began ironically, not on dry land but beneath the waves. With little photographic knowledge, I created a portfolio of images around Scotland’s coastline and in the Red Sea and was surprised to win ‘best newcomer to underwater photography’ in the
                                My interest in photography did not begin with books or mentors but evolved through a fascination of the natural world that shaped all parts of my life and brought them together. The desire, however, to communicate the way I felt about mountains and wild places began ironically, not on dry land but beneath the waves. With little photographic knowledge, I created a portfolio of images around Scotland’s coastline and in the Red Sea and was surprised to win ‘best newcomer to underwater photography’ in the
                                My interest in photography did not begin with books or mentors but evolved through a fascination of the natural world that shaped all parts of my life and brought them together. The desire, however, to communicate the way I felt about mountains and wild places began ironically, not on dry land but beneath the waves. With little photographic knowledge, I created a portfolio of images around Scotland’s coastline and in the Red Sea and was surprised to win ‘best newcomer to underwater photography’ in the
                                My interest in photography did not begin with books or mentors but evolved through a fascination of the natural world that shaped all parts of my life and brought them together. The desire, however, to communicate the way I felt about mountains and wild places began ironically, not on dry land but beneath the waves. With little photographic knowledge, I created a portfolio of images around Scotland’s coastline and in the Red Sea and was surprised to win ‘best newcomer to underwater photography’ in the
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-lg-3 offset-1">
                <div class="vc_row wpb_row section vc_row-fluid  grid_section" style=" padding-top:87px; padding-bottom:0px; text-align:left;">
    <div class=" section_inner clearfix">
        <div class="section_inner_margin clearfix">
            <div class="wpb_column vc_column_container vc_col-sm-4">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="separator  transparent   " style="margin-top: 185px;"></div>
                            <div class="wpb_single_image wpb_content_element vc_align_right">
                                <div class="wpb_wrapper">
                                    <div class="vc_single_image-wrapper vc_box_shadow_3d  vc_box_border_grey"><span class="vc_box_shadow_3d_wrap">
                                        <img src="{% static 'images/3.jpg' %}" class="vc_single_image-img attachment-medium" alt=""  sizes="(max-width: 300px) 100vw, 300px" width="300" height="300"></span>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>

{% endblock %}