{% extends 'base.html' %}

{% block content %}

<div class="section section1">
  <div class="container">
    <div class="row">
      {% for gallery_image in gallery_images %}
      <div class="col-lg-3 isotope-item">
        <div class="product-item">
            <a href="{% url 'galleries' gallery_image.gallery.id %}">
              <img src="{{ gallery_image.image.url }}" alt="">
                <div class="thumb-ruby__caption">
              <p class="thumb-ruby__title heading-3">Beach Wedding</p>
               <p class="thumb-ruby__text">If you are looking for high quality wedding photography, I will be glad to help you.
                            <!-- Portfolio--></p>
           </div>
            </a>
            <div>
          </div>
          <h4>{{ gallery_image.gallery.name }}</h4>
          <p>
            {{gallery_image.gallery.description|truncatechars_html:20}}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>



{% endblock %}

{# <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">#}
{#     <a class="thumb-ruby thumb-mixed_height-2 thumb-mixed_md" href="{% static 'images/3.jpg'%}" data-lightgallery="item">#}
{#         <img class="thumb-ruby__image" src="{% static 'images/3.jpg'%}" alt="" width="440" height="327"/>#}
{#           <div class="thumb-ruby__caption">#}
{#              <p class="thumb-ruby__title heading-3">Beach Wedding</p>#}
{#               <p class="thumb-ruby__text">If you are looking for high quality wedding photography, I will be glad to help you.#}
{#                            <!-- Portfolio--></p>#}
{#           </div>#}
{#     </a>#}
{#              </div>#}


