{% extends 'base.html' %}
{% load static %}
{% block content %}
      <!-- My Best Photos-->
      <section class="section bg-white text-center">
        <!-- Slick Carousel-->
        <div class="slick-wrap">
          <div class="slick-slider slick-style-1" data-arrows="true" data-autoplay="false" data-loop="true" data-dots="true" data-swipe="true" data-xs-swipe="true" data-sm-swipe="false" data-items="1" data-sm-items="3" data-md-items="3" data-lg-items="3" data-center-mode="true" data-lightgallery="group-slick">
            <div class="item">
              <div class="slick-slide-inner">
                <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href="{% static 'images/slider/1.jpg'%}" data-lightgallery="item"><img class="thumb-ann__image" src="{% static 'images/slider/1.jpg'%}" alt="" width="961" height="664"/>
                    <div class="thumb-ann__caption"> 
                      <p class="thumb-ann__title heading-3">Philip &amp; Gloria</p>
                      <p class="thumb-ann__text">With the experience of more than 10 years, I am glad to offer you a wide variety of love story photography services at affordable prices.</p>
                    </div></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="slick-slide-inner">
                <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href="{% static 'images/slider/2.jpg'%}" data-lightgallery="item"><img class="thumb-ann__image" src="{% static 'images/slider/2.jpg'%}" alt="" width="961" height="664"/>
                    <div class="thumb-ann__caption"> 
                      <p class="thumb-ann__title heading-3">Ronald &amp; Karen</p>
                      <p class="thumb-ann__text">With the experience of more than 10 years, I am glad to offer you a wide variety of love story photography services at affordable prices.</p>
                    </div></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="slick-slide-inner">
                <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href="{% static 'images/slider/3.jpg'%}" data-lightgallery="item"><img class="thumb-ann__image" src="{% static 'images/slider/3.jpg'%}" alt="" width="961" height="664"/>
                    <div class="thumb-ann__caption"> 
                      <p class="thumb-ann__title heading-3">Eric &amp; Amanda</p>
                      <p class="thumb-ann__text">With the experience of more than 10 years, I am glad to offer you a wide variety of love story photography services at affordable prices.</p>
                    </div></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="slick-slide-inner">
                <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href="{% static 'images/slider/4.jpg'%}" data-lightgallery="item"><img class="thumb-ann__image" src="{% static 'images/slider/4.jpg'%}" alt="" width="961" height="664"/>
                    <div class="thumb-ann__caption"> 
                      <p class="thumb-ann__title heading-3">Harold &amp; Mary</p>
                      <p class="thumb-ann__text">With the experience of more than 10 years, I am glad to offer you a wide variety of love story photography services at affordable prices.</p>
                    </div></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-md bg-white text-center">
        <div class="shell-fluid">
          <p class="heading-1">Portfolio</p>
          <div class="isotope thumb-ruby-wrap wow fadeIn" data-isotope-layout="masonry" data-isotope-group="gallery" data-lightgallery="group">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item"><a class="thumb-ruby thumb-mixed_height-2 thumb-mixed_md" href="{% static 'images/1.jpg'%}" data-lightgallery="item"><img class="thumb-ruby__image" src="{% static 'images/1.jpg'%}" alt="" width="440" height="327"/>
                        <div class="thumb-ruby__caption">
                          <p class="thumb-ruby__title heading-3">Jane &amp; James</p>
                          <p class="thumb-ruby__text">If you are looking for high quality wedding photography, I will be glad to help you.
                            <!-- Portfolio-->
                          </p>
                        </div></a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item"><a class="thumb-ruby thumb-mixed_height-3 thumb-mixed_md" href="{% static 'images/2.jpg'%}" data-lightgallery="item"><img class="thumb-ruby__image" src="{% static 'images/2.jpg'%}" alt="" width="444" height="683"/>
                        <div class="thumb-ruby__caption">
                          <p class="thumb-ruby__title heading-3">George &amp; Kate</p>
                          <p class="thumb-ruby__text">If you are looking for high quality wedding photography, I will be glad to help you.
                            <!-- Portfolio-->
                          </p>
                        </div></a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item"><a class="thumb-ruby thumb-mixed_height-2 thumb-mixed_md" href="{% static 'images/3.jpg'%}" data-lightgallery="item"><img class="thumb-ruby__image" src="{% static 'images/3.jpg'%}" alt="" width="440" height="327"/>
                        <div class="thumb-ruby__caption">
                          <p class="thumb-ruby__title heading-3">Beach Wedding</p>
                          <p class="thumb-ruby__text">If you are looking for high quality wedding photography, I will be glad to help you.
                            <!-- Portfolio-->
                          </p>
                        </div></a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item"><a class="thumb-ruby thumb-mixed_height-3 thumb-mixed_md" href="{% static 'images/4.jpg'%}" data-lightgallery="item"><img class="thumb-ruby__image" src="{% static 'images/4.jpg'%}" alt="" width="444" height="683"/>
                        <div class="thumb-ruby__caption">
                          <p class="thumb-ruby__title heading-3">George &amp; Kate</p>
                          <p class="thumb-ruby__text">Якщо ви шукаєте якісну фотосесію love story, я буду рада допомогти вам.
                            <!-- Portfolio-->
                          </p>
                        </div></a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item"><a class="thumb-ruby thumb-mixed_height-2 thumb-mixed_md" href="{% static 'images/weeding.jpg' %}" data-lightgallery="item"><img class="thumb-ruby__image" src="{% static 'images/weeding.jpg' %}" alt="" width="440" height="327"/>
                        <div class="thumb-ruby__caption">
                          <p class="thumb-ruby__title heading-3">Ann’s Story</p>
                          <p class="thumb-ruby__text">Якщо ви шукаєте якісну весільну фотографію, я буду радий допомогти вам
                            <!-- Portfolio-->
                          </p>
                        </div></a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item"><a class="thumb-ruby thumb-mixed_height-2 thumb-mixed_md" href="{% static 'images/mause.jpg' %}" data-lightgallery="item"><img class="thumb-ruby__image" src="{% static 'images/mause.jpg' %}" alt="" width="440" height="327"/>
                        <div class="thumb-ruby__caption">
                          <p class="thumb-ruby__title heading-3">Lisa’s Wedding</p>
                          <p class="thumb-ruby__text">If you are looking for high quality wedding photography, I will be glad to help you.
                            <!-- Portfolio-->
                          </p>
                        </div></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Book Your Photo Shoot-->
      <section class="section section-md bg-white">
        <div class="shell">
          <div class="range range-50 range-sm-center range-md-left range-md-reverse range-md-middle">
            <div class="cell-sm-10 cell-md-6 wow fadeInRight">
              <div class="box-width-4 box-centered">
                <p class="heading-1">Забронюйте <br> Вашу подію</p>
                <p>Залишайте реквізити і з вами звяжуться</p>
              </div>
            </div>
            <div>
             <div class="cell-sm-10 cell-md-6 wow fadeInLeft">
                  <article class="box-line"><span></span><span></span><span></span><span></span>
                    <div class="box-line__main">
                      <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="POST">{% csrf_token %}
                          <div class="form-group">
                          <input class="form-input" id="contact-date" type="text" data-time-picker="date" name="{{ form.event_date.name }}" data-constraints="@Required">
                          <label class="form-label" for="contact-date">Дата події</label>
                        </div>

                        <div class="form-wrap">
                          <input class="form-input" id="contact-name" type="text" name="{{ form.name.name}}" data-constraints="@Required">
                          <label class="form-label" for="contact-name">Ваше ім'я</label>
                        </div>
                        <div class="form-wrap">
                            <label class="form-label" for="phone">Номер телефону</label>
                          <input class="form-input"  id="phone" name="{{ form.call_number.name}}" data-constraints="@Required">

                        </div>

                        <div class="form-wrap">
                          <label class="form-label" for="contact-message">Ваше повідомлення</label>
                          <textarea class="form-input" id="contact-message" name="{{ form.message.name}}" data-constraints="@Required"></textarea>
                        </div>


                        <div class="form-wrap form-button offset-1">
                          <button class="button button-block button-primary-outline button-ujarak" type="submit">замовити</button>
                        </div>
                      </form>
                    </div>
                  </article>
             </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}